<div class="modal" tabindex="-1" role="dialog" id="ajaxLoader">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content text-center" style="background: transparent; border: none;">
            <i class="ace-icon fa fa-spinner fa-spin orange fa-5x"></i>
            <br />
            <b style="color: white;">Please wait...</b>
        </div>
    </div>
</div>
